<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="main">
        <div id="back">
            <img src="https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85" alt="">
        </div>
        <div id="top">
            <div id="workingarea">
                <div id="nav">
                    <div id="nleft">
                        <img src="logo.png" alt="">
                        <a href="#" style="color: black;">Home</a> <a href="#" style="color: black;">about</a>
                    </div>
                    <div id="nright">
                        <a href="#" style="color: black;">Portfolio</a>
                        <a href="#" style="color: black;">Services</a>
                        <a href="#" style="color: black;">Contact us</a>
                    </div>
                </div>
                <div id="hero">
                    <div id="heroleft">
                        <div class="elem">
                            <h1 class="sixth">REBUILD LIFE</h1>
                            <p>Aiming to Reincarnate Life</p>
                        </div>
                        <a>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 1 with Background Image -->
    <section style="background-image:   linear-gradient(to bottom,#7a638f, rgba(231, 218, 244, 1)),
    url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85');background-size: cover;">
        <h2 id="heading">Financial and Social Support</h2>

        <br>
        <br>
        <div class="flip">
            <div class="front" style="background-image: url(https://media.istockphoto.com/id/881542122/photo/business-people-using-pen-tablet-notebook-are-planning-a-marketing-plan-to-improve-the-quality.jpg?s=2048x2048&w=is&k=20&c=8cy_WJ5kUZIg0SKwoY6HYzWQXZ3s8W4eEXQ7nB5Hnss=)">
               <h1 class="text-shadow">Financial Support</hi>
            </div>
            <div class="back">
               <p>Provide detailed information about various financial assistance programs available for families, including eligibility criteria, application process, and contact details.</p>
               <a href="/table">read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
               <h1 class="text-shadow">Support Groups</hi>
            </div>
            <div class="back">
               <p>Create a directory of support groups that families can join to get emotional support and share experiences. Include contact information and meeting details.</p>
               <a href="/table">read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
               <h1 class="text-shadow">Resources</hi>
            </div>
            <div class="back">
               <p>Offer resources such as articles, guides, and tips on managing finances, coping with loss, and rebuilding financial stability.</p>
               <a href="/table">read more</a>
            </div>
        </div>
    </section>

    <!-- Section 2 with Background Image -->
    <section style="background-image: linear-gradient(to bottom,#e5d7f3,rgb(189, 149, 237)), url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85');">
        <h2 id="heading">Child</h2>
        <br>
        <br>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
               <h1 class="text-shadow">Resources</hi>
            </div>
            <div class="back">
               <p>Curate a list of online educational resources, tutorials, and platforms that children can use to continue their education. Categorize them based on subjects and grade levels. </p>
               <a href="/table1">read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
               <h1 class="text-shadow">Guidance</hi>
            </div>
            <div class="back">
               <p>Provide guidance for parents on how to facilitate their children's learning at home and engage them in educational activities. </p>
               <a href="/table1">read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
               <h1 class="text-shadow">Acces to Programs</hi>
            </div>
            <div class="back">
               <p>: Include information about any local or online programs that children can enroll in to enhance their educational skills. </p>
               <a href="/table1">read more</a>
            </div>
        </div>
        
    </section>

    <!-- Section 3 with Background Image -->
    <section style="background-image:linear-gradient(to bottom,#bf99ed, #be96ee), url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85');">
        <h2 id="heading">WOMEN</h2>

        <br>
        <br>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb);">
               <h1 class="text-shadow">Training Programs</hi>
            </div>
            <div class="back">
               <p>List technical training programs, workshops, and courses available for women to acquire new skills and become financially independent.</p>
               <a href="/table2">read more</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
               <h1 class="text-shadow">Resources</hi>
            </div>
            <div class="back">
               <p>Offer resources like articles and guides on career development, resume building, and interview tips.</p>
               <a href="/table2">read more</a>
            </div>
        </div>
        
      
       
    </section>

</body>
</html>
