<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.cdnfonts.com/css/gilroy-bold" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div id="main">
        <div id="back">
            <img src="https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85" alt="">
        </div>
        <div id="top">
            <div id="workingarea">
                <div id="nav">
                    <div id="nleft">
                        <img src="logo.png" alt="">
                        <a href="#" style="color: darkgreen;">Home</a> <a href="#" style="color: darkgreen;">about</a>
                    </div>
                    <div id="nright">
                        <a href="#" style="color: darkgreen;">Portfolio</a>
                        <a href="#" style="color: darkgreen;">Services</a>
                        <a href="#" style="color: darkgreen;">Contact us</a>
                    </div>
                </div>
                <div id="hero">
                    <div id="heroleft">
                        <div class="elem">
                            <h1 class="sixth">REBUILD LIFE</h1>
                            <p>Aiming to Reincarnate Life</p>
                        </div>
                        <a>Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section 1 with Background Image -->
    <section style="background-image:   linear-gradient(to bottom,#7a638f, rgba(231, 218, 244, 1)),
    url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85');background-size: cover;">
        <h2 id="heading">Financial and Social Support</h2>

        <br>
        <br>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/man-making-his-move_53876-40353.jpg?w=1060&t=st=1698987940~exp=1698988540~hmac=23ac6728501a8d0e0c7ad6d87c7b3c4071b2d6b34ead526b6ca2f8db8c88797e)">
               <h1 class="text-shadow">Financial Support</hi>
            </div>
            <div class="back">
               <p>Provide detailed information about various financial assistance programs available for families, including eligibility criteria, application process, and contact details.</p>
               <a href="/table">READ MORE</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/concept-human-relation-community-togetherness-symbolism_155003-42793.jpg?w=360&t=st=1698988035~exp=1698988635~hmac=e59a7ddc52dbe76e48ea8bbb6753b9f1efd2cbcf518a0b3c46f0e8da8baa1643)">
               <h1 class="text-shadow">Support Groups</hi>
            </div>
            <div class="back">
               <p>Create a directory of support groups that families can join to get emotional support and share experiences. Include contact information and meeting details.</p>
               <a href="/table">READ MORE</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/group-small-businessmen-standing-coins_1150-18248.jpg?w=1060&t=st=1698988093~exp=1698988693~hmac=339bf01dbc0d89b897512b3944f2f3afeca6588f333a5352b1ebeabb549ccfb6)">
               <h1 class="text-shadow">Resources</hi>
            </div>
            <div class="back">
               <p>Offer resources such as articles, guides, and tips on managing finances, coping with loss, and rebuilding financial stability.</p>
               <a href="/table">READ MORE</a>
            </div>
        </div>
    </section>

    <!-- Section 2 with Background Image -->
    <section style="background-image: linear-gradient(to bottom,#e5d7f3,rgb(189, 149, 237)), url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85');">
        <h2 id="heading">Child</h2>
        <br>
        <br>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/parents-spending-time-with-their-little-daughter-home_23-2149022811.jpg?w=1060&t=st=1698988199~exp=1698988799~hmac=8db79f8651f8a7f87d84183116fd79bd3e8769b138e29b4aed57a0b36da02632)">
               <h1 class="text-shadow">Resources</hi>
            </div>
            <div class="back">
               <p>Curate a list of online educational resources, tutorials, and platforms that children can use to continue their education. Categorize them based on subjects and grade levels. </p>
               <a href="/table1">READ MORE</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/parents-spending-time-with-their-little-daughter-home_23-2149022809.jpg?w=1060&t=st=1698988289~exp=1698988889~hmac=9fbf1f828d35af312065b4d6951b0be54015d742298c2758261121254a78343b)">
               <h1 class="text-shadow">Guidance</hi>
            </div>
            <div class="back">
               <p>Provide guidance for parents on how to facilitate their children's learning at home and engage them in educational activities. </p>
               <a href="/table1">READ MORE</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/little-boy-participating-online-class_23-2149041152.jpg?w=1060&t=st=1698988338~exp=1698988938~hmac=e2c410d29c8ac1083ebf607715897686a9169ce452df1111141201ef4f97753a)">
               <h1 class="text-shadow">Acces to Programs</hi>
            </div>
            <div class="back">
               <p>Include information about any local or online programs that children can enroll in to enhance their educational skills. </p>
               <a href="/table1">READ MORE</a>
            </div>
        </div>
        
    </section>

    <!-- Section 3 with Background Image -->
    <section style="background-image:linear-gradient(to bottom,#bf99ed, #be96ee), url('https://images.unsplash.com/photo-1494500764479-0c8f2919a3d8?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYzNzU5MjE4OA&ixlib=rb-1.2.1&q=85');">
        <h2 id="heading">WOMEN</h2>

        <br>
        <br>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/male-employee-participating-training-session-his-new-office-job_23-2149034581.jpg?w=996&t=st=1698988438~exp=1698989038~hmac=cf75a525fe0fb22c2de785c73e0a025a3011f8ef8876cb4f94555ca7e0e0e818);">
               <h1 class="text-shadow">Training Programs</hi>
            </div>
            <div class="back">
               <p>List technical training programs, workshops, and courses available for women to acquire new skills and become financially independent.</p>
               <a href="/table2">READ MORE</a>
            </div>
        </div>
        <div class="flip">
            <div class="front" style="background-image: url(https://img.freepik.com/free-photo/business-womens-meeting_23-2148435557.jpg?w=1060&t=st=1698988674~exp=1698989274~hmac=b8483b0ed047fe2152f481d5fe9520d8d618988ae31812d3fc53530182bd8ba3)">
               <h1 class="text-shadow">Resources</hi>
            </div>
            <div class="back">
               <p>Offer resources like articles and guides on career development, resume building, and interview tips.</p>
               <a href="/table2">READ MORE</a>
            </div>
        </div>
        
      
       
    </section>

</body>
</html>
